@import "_reset";

.car-filter {
    padding-top: 50px;

    &__container {
        max-width: 1200px;
        margin: 0 auto;
        background-color: rgb(234, 232, 231);
        padding: 50px 0;
        border-radius: 0 25px 0 25px;
    }

    &__header {
        // border: 1px solid blue;
        display: flex;
        justify-content: center;
        gap: 50px;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__arrow {
        position: absolute;
        top: center;
        right: 15px;
        pointer-events: none;
        font-size: 20px;
    }
    &__select-wrapper {
        display: flex;
        align-items: center;
        gap: 30px;
        position: relative;
        label {
            font-size: 20px;
        }

        select {
            padding: 10px 20px;
            border: 1px solid rgb(159, 155, 155);
            width: 300px;
            color: grey;
            border-radius: 15px;
            appearance: none;
        }
    }
    &__result {
        // border: 5px solid rgb(255, 0, 0);
        width: 100%;

        background-color: rgb(137, 137, 137);
        display: flex;
        flex-direction: column;
        // gap: 10px;
        div {
            display: flex;
            column-gap: 10px;
            padding: 0 50px;
            // padding-bottom: 3px;
            border-bottom: 1px solid rgb(202, 202, 202);
            span {
                color: #fff;
                padding: 5px 5px 5px 25px;
                font-size: 18px;
                display: inline-block;
                background-color: rgb(114, 114, 114);
                flex-basis: 33.333%;

            }
        }
    }
}
