*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
}

a {
  display: inline-block;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

address {
  font-style: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.car-filter {
  padding-top: 50px;
}
.car-filter__container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgb(234, 232, 231);
  padding: 50px 0;
  border-radius: 0 25px 0 25px;
}
.car-filter__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}
.car-filter__header:not(:last-child) {
  margin-bottom: 20px;
}
.car-filter__arrow {
  position: absolute;
  top: center;
  right: 15px;
  pointer-events: none;
  font-size: 20px;
}
.car-filter__select-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  position: relative;
}
.car-filter__select-wrapper label {
  font-size: 20px;
}
.car-filter__select-wrapper select {
  padding: 10px 20px;
  border: 1px solid rgb(159, 155, 155);
  width: 300px;
  color: grey;
  border-radius: 15px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.car-filter__result {
  width: 100%;
  background-color: rgb(137, 137, 137);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.car-filter__result div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  padding: 0 50px;
  border-bottom: 1px solid rgb(202, 202, 202);
}
.car-filter__result div span {
  color: #fff;
  padding: 5px 5px 5px 25px;
  font-size: 18px;
  display: inline-block;
  background-color: rgb(114, 114, 114);
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
}